.list{
    margin-left: 30px;
}
.rowList{
    background-color: #f0f2f2;
    border: 1px solid #f0f2f2;
    margin-top: 10px;
    width: 80%;
    padding-left: 30px;
    border-radius: 5px;
}
.rowList:hover{
    background-color: lightgray;
    color: white;
}
.rowList a{
    color:grey;
}