.search-box button{
    border: none;
}
.icon{
    font-size: 20px;
}
.UserOutlined{
     border-radius: 50%;
    margin-left: 550px;
    background-color: white;
    font-size: 18px;
    background-color:lightgray;
}